@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');
.card-pricing .card-body {
    padding: 10px 5px !important;
}
.card-pricing .card-body .badge {
    width: 100%;
    background: transparent;
    --bs-badge-color: transparent;
    box-shadow: none !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}
.card-pricing .card-body .badge .h6 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 800;
    font-size: 20px;
}
.card-pricing .card-body .d-flex {
    text-align: center;
    background: #263238;
    padding: 5px 10px;
}
.card-pricing .card-body .d-flex p {
    display: block;
    margin-bottom: 0;
    color: white;
    width: 100%;
}

.card-pricing .card-body .card-bottom {
    background: #263238;
    padding: 5px 10px;
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}
.card-pricing {
    border-radius: 50px !important;
}
.btn-executive {
    background-color: #FFF;
    border: none;
    color:#2D67B1;
    font-weight: 600;
    border-radius: 100px;
    margin-bottom: 20px
}
.btn-buy {
    background-color: #CCBD17;
    border: none;
    color:#2D67B1;
    font-weight: 600;
    border-radius: 100px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-transform: none;
}
.navbar-top .navbar-nav a {
    margin: 0 10px;
    padding: 5px 5px !important;
    color: white;
}
.navbar-top .navbar-nav .btn {
    margin: 0 10px;
    padding: 5px 20px !important;
    color: white;
}

.btn-buy-header, .btn-platform-header {
    background-color: #CCBD17;
    border: none;
    color:#2D67B1 !important;
    font-weight: 600;
    border-radius: 100px;

}
.navbar-dark #header-wrap.fixed-header {
    background: black !important;
}
.bg-footer {
    background: #2F2A48;
}
.logo-footer-text {
    border-left: 5px solid white;
    height: 100%;
}
.logo-footer img {
    margin-top: auto;
    margin-bottom: auto;
}
/* .info-section .img-container img {
    width: 100% !important;
    height: auto !important;
} */
.footer-rss i {
    font-size: 35px;
    color: white;
    margin: 0 10px
}




/* ------------------------------------------- 
 NEWS STYLES 
 ---------------------------------------------*/

 .imagen-alineada{
    height: 300px !important;
 }

 .datos{
    text-decoration: none !important;
 }

 .btn-primary {
    --bs-btn-color: #2D67B1 !important;
    --bs-btn-bg: #EEDD1B !important;
    --bs-btn-border-color: #EEDD1B !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #f94f15 !important;
    --bs-btn-hover-border-color: #f94f15 !important;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
    border-radius: 100px !important;

}

.btn-light {
    --bs-btn-color: #2D67B1 !important;
    --bs-btn-bg: #CCBD17 !important;
    --bs-btn-border-color: none !important;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: none !important;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
    font-weight: 600 !important;
    border-radius: 100px !important;
}

span{
    color: #CCBD17;
}

/* STYLE CONTACT FORM */

.l4V7wb .NPEfkd {
    display: inline-block;
    margin: 0;
    display: none !important;
}

.iconos{
    width: 50px;
}

.w-75 {
    width: 75%!important;
    margin-left: 15%;
}